
<div class="page page-table" ng-if="profile.isAdmin">

    <section class="panel panel-default table-dynamic">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> User Administration</strong></div>

        <div class="table-filters">
            <div class="row">
                <div class="col-sm-4 col-xs-6">
                    <form>
                        <input type="text"
                               placeholder="Search..."
                               class="form-control"
                               data-ng-model="searchKeywords"
                               data-ng-keyup="search()">
                    </form>
                </div>
                <div class="col-sm-3 col-xs-6 filter-result-info">
                    <span>
                        Showing {{filteredStores.length}}/{{users.length}} entries
                    </span>              
                </div>
            </div>
        </div>

        <table class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>
                    <th><div class="th">
                        User
                    </div></th>
                    <th><div class="th">
                        Email
                    </div></th>
                    <th><div class="th">
                        Listed?
                    </div></th>
                    <th><div class="th">
                        Role
                    </div></th>                    
                </tr>
            </thead>
            <tbody>
                <!--<tr data-ng-repeat="store in currentPageStores">-->
                <tr data-ng-repeat="user in currentPageStores">
                    <td width="65%">
                         <div class="media">
                            <a class="pull-left" href="javascript:;">
                                <img alt="" ng-src="{{user.picture}}" class="img-circle img64_64">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">
                                   {{user.displayName}} <span class="badge badge-success" ng-show="user.isAdmin">Admin</span>
                                    <span class="badge badge-danger" style="margin-right:5px;" ng-repeat="specialty in user.specialties" >{{specialty}} </span>
                                    <span class="badge badge-primary" style="margin-right:5px;" ng-repeat="certificate in user.certifications" >{{certificate}} </span> 
                                </h4>
                                <p>{{user.description}}</p>
                                <small>{{user.locations[0].address.split(',')[1]}}, {{user.locations[0].address.split(',')[2].slice(1,3)}}</small>
                            </div>
                        </div>                         
                    </td>
                    <td width="15%">{{user.email}}</td>
                    <td width="10%">
                        <div class="checkbox">
                            <label>
                            <input type="checkbox" ng-model="user.isSpecialist" ng-change="enableListing(user.id)"> Profile enabled
                        </div>    
                        
                    </td>
                     <td width="10%">
                        <div class="checkbox">
                            <label>
                            <input type="checkbox" ng-model="user.isAdmin" ng-change="enableAdmin(user.id)"> Administrator
                        </div>    
                        
                    </td>                   
                </tr>
            </tbody>
        </table>

        <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                    <span>
                        Show 
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()">
                        </select> 
                        entries per page
                    </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <uib-pagination class="pagination-sm"
                                ng-model="currentPage"
                                total-items="filteredStores.length"
                                max-size="4"
                                ng-change="select(currentPage)"
                                items-per-page="numPerPage"
                                rotate="false"
                                previous-text="&lsaquo;" next-text="&rsaquo;"
                                boundary-links="true"></uib-pagination>
                </div>
            </div>
        </footer>
    </section>

</div> 

